USE [Pizzacı]
GO
/****** Object:  Table [dbo].[Bahce1]    Script Date: 14.08.2023 16:23:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bahce1](
	[yazdir] [bit] NULL,
	[adet] [int] NULL,
	[isim] [nvarchar](50) NULL,
	[fiyat] [int] NULL,
	[stokKategori] [nvarchar](30) NULL,
	[kategori] [nvarchar](10) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Bahce10]    Script Date: 14.08.2023 16:23:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bahce10](
	[yazdir] [bit] NULL,
	[adet] [int] NULL,
	[isim] [nvarchar](50) NULL,
	[fiyat] [int] NULL,
	[stokKategori] [nvarchar](30) NULL,
	[kategori] [nvarchar](10) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Bahce11]    Script Date: 14.08.2023 16:23:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bahce11](
	[yazdir] [bit] NULL,
	[adet] [int] NULL,
	[isim] [nvarchar](50) NULL,
	[fiyat] [int] NULL,
	[stokKategori] [nvarchar](30) NULL,
	[kategori] [nvarchar](10) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Bahce12]    Script Date: 14.08.2023 16:23:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bahce12](
	[yazdir] [bit] NULL,
	[adet] [int] NULL,
	[isim] [nvarchar](50) NULL,
	[fiyat] [int] NULL,
	[stokKategori] [nvarchar](30) NULL,
	[kategori] [nvarchar](10) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Bahce13]    Script Date: 14.08.2023 16:23:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bahce13](
	[yazdir] [bit] NULL,
	[adet] [int] NULL,
	[isim] [nvarchar](50) NULL,
	[fiyat] [int] NULL,
	[stokKategori] [nvarchar](30) NULL,
	[kategori] [nvarchar](10) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Bahce15]    Script Date: 14.08.2023 16:23:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bahce15](
	[yazdir] [bit] NULL,
	[adet] [int] NULL,
	[isim] [nvarchar](50) NULL,
	[fiyat] [int] NULL,
	[stokKategori] [nvarchar](30) NULL,
	[kategori] [nvarchar](10) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Bahce2]    Script Date: 14.08.2023 16:23:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bahce2](
	[yazdir] [bit] NULL,
	[adet] [int] NULL,
	[isim] [nvarchar](50) NULL,
	[fiyat] [int] NULL,
	[stokKategori] [nvarchar](30) NULL,
	[kategori] [nvarchar](10) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Bahce3]    Script Date: 14.08.2023 16:23:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bahce3](
	[yazdir] [bit] NULL,
	[adet] [int] NULL,
	[isim] [nvarchar](50) NULL,
	[fiyat] [int] NULL,
	[stokKategori] [nvarchar](30) NULL,
	[kategori] [nvarchar](10) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Bahce4]    Script Date: 14.08.2023 16:23:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bahce4](
	[yazdir] [bit] NULL,
	[adet] [int] NULL,
	[isim] [nvarchar](50) NULL,
	[fiyat] [int] NULL,
	[stokKategori] [nvarchar](30) NULL,
	[kategori] [nvarchar](10) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Bahce5]    Script Date: 14.08.2023 16:23:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bahce5](
	[yazdir] [bit] NULL,
	[adet] [int] NULL,
	[isim] [nvarchar](50) NULL,
	[fiyat] [int] NULL,
	[stokKategori] [nvarchar](30) NULL,
	[kategori] [nvarchar](10) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Bahce6]    Script Date: 14.08.2023 16:23:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bahce6](
	[yazdir] [bit] NULL,
	[adet] [int] NULL,
	[isim] [nvarchar](50) NULL,
	[fiyat] [int] NULL,
	[stokKategori] [nvarchar](30) NULL,
	[kategori] [nvarchar](10) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Bahce7]    Script Date: 14.08.2023 16:23:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bahce7](
	[yazdir] [bit] NULL,
	[adet] [int] NULL,
	[isim] [nvarchar](50) NULL,
	[fiyat] [int] NULL,
	[stokKategori] [nvarchar](30) NULL,
	[kategori] [nvarchar](10) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Bahce8]    Script Date: 14.08.2023 16:23:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bahce8](
	[yazdir] [bit] NULL,
	[adet] [int] NULL,
	[isim] [nvarchar](50) NULL,
	[fiyat] [int] NULL,
	[stokKategori] [nvarchar](30) NULL,
	[kategori] [nvarchar](10) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Bahce9]    Script Date: 14.08.2023 16:23:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bahce9](
	[yazdir] [bit] NULL,
	[adet] [int] NULL,
	[isim] [nvarchar](50) NULL,
	[fiyat] [int] NULL,
	[stokKategori] [nvarchar](30) NULL,
	[kategori] [nvarchar](10) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Fire]    Script Date: 14.08.2023 16:23:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Fire](
	[saat] [time](7) NULL,
	[fiyat] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FiyatListesi]    Script Date: 14.08.2023 16:23:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FiyatListesi](
	[urunId] [int] IDENTITY(1,1) NOT NULL,
	[urunIsim] [nvarchar](100) NULL,
	[fiyat] [int] NULL,
	[kategori] [nvarchar](50) NULL,
	[stokKategori] [nvarchar](150) NULL,
PRIMARY KEY CLUSTERED 
(
	[urunId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GunlukAdisyon]    Script Date: 14.08.2023 16:23:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GunlukAdisyon](
	[adisyonNo] [int] IDENTITY(1,1) NOT NULL,
	[adisyonAcilisSaat] [time](7) NULL,
	[adisyonKapanisSaat] [time](7) NULL,
	[adisyonIcerik] [nvarchar](500) NULL,
	[odemeDurumu] [nvarchar](50) NULL,
	[islem] [nvarchar](50) NULL,
	[tutar] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[adisyonNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GunSonu]    Script Date: 14.08.2023 16:23:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GunSonu](
	[ikram] [int] NULL,
	[yiyecek] [int] NULL,
	[icecek] [int] NULL,
	[iptalYiyecek] [int] NULL,
	[iptalIcecek] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GunSonuFiyatlar]    Script Date: 14.08.2023 16:23:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GunSonuFiyatlar](
	[ikram] [int] NULL,
	[yiyecek] [int] NULL,
	[icecek] [int] NULL,
	[iptalYiyecek] [int] NULL,
	[iptalIcecek] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Guvenlik]    Script Date: 14.08.2023 16:23:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Guvenlik](
	[personelId] [int] IDENTITY(1,1) NOT NULL,
	[personelAd] [nvarchar](75) NULL,
	[sifre] [int] NULL,
	[pozisyon] [nvarchar](25) NULL,
PRIMARY KEY CLUSTERED 
(
	[personelId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[IcecekStok]    Script Date: 14.08.2023 16:23:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IcecekStok](
	[Ayran] [int] NULL,
	[Su] [int] NULL,
	[Soda] [int] NULL,
	[Cola] [int] NULL,
	[Fanta] [int] NULL,
	[Sprite] [int] NULL,
	[Salgam] [int] NULL,
	[mangoAnanasIceTea] [int] NULL,
	[seftaliIceTea] [int] NULL,
	[limonIceTea] [int] NULL,
	[karisikMeyveSuyu] [int] NULL,
	[seftaliMeyveSuyu] [int] NULL,
	[kayisiMeyveSuyu] [int] NULL,
	[ILCola] [int] NULL,
	[IILCola] [int] NULL,
	[IIILCola] [int] NULL,
	[ILFanta] [int] NULL,
	[IILFanta] [int] NULL,
	[IIILFanta] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KayitliMusteriler]    Script Date: 14.08.2023 16:23:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KayitliMusteriler](
	[musteriNo] [int] IDENTITY(1,1) NOT NULL,
	[telefon] [nvarchar](12) NULL,
	[adres] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[musteriNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ListboxKontrol]    Script Date: 14.08.2023 16:23:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ListboxKontrol](
	[listbox] [nvarchar](500) NOT NULL,
	[tutar] [int] NOT NULL,
	[durum] [bit] NULL,
	[masaYeri] [nvarchar](50) NULL,
	[masaNo] [int] NULL,
	[fisNotu] [nvarchar](150) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MarketMutfakGider]    Script Date: 14.08.2023 16:23:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MarketMutfakGider](
	[marketGider] [int] NULL,
	[mutfakGider] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Masalar]    Script Date: 14.08.2023 16:23:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Masalar](
	[masaNo] [int] NULL,
	[masaYeri] [nvarchar](10) NULL,
	[durum] [bit] NULL,
	[fiyat] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PaketServis]    Script Date: 14.08.2023 16:23:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PaketServis](
	[paketServisNo] [int] IDENTITY(1,1) NOT NULL,
	[adisyonAcilisSaat] [time](7) NULL,
	[adisyonKapanisSaat] [time](7) NULL,
	[adisyonIcerik] [nvarchar](500) NULL,
	[adres] [nvarchar](200) NULL,
	[telefon] [nvarchar](12) NULL,
	[tutar] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[paketServisNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PersonelGider]    Script Date: 14.08.2023 16:23:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PersonelGider](
	[personelAdSoyad] [nvarchar](75) NULL,
	[personelUcret] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Salon1]    Script Date: 14.08.2023 16:23:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Salon1](
	[yazdir] [bit] NULL,
	[adet] [int] NULL,
	[isim] [nvarchar](50) NULL,
	[fiyat] [int] NULL,
	[stokKategori] [nvarchar](30) NULL,
	[kategori] [nvarchar](10) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Salon10]    Script Date: 14.08.2023 16:23:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Salon10](
	[yazdir] [bit] NULL,
	[adet] [int] NULL,
	[isim] [nvarchar](50) NULL,
	[fiyat] [int] NULL,
	[stokKategori] [nvarchar](30) NULL,
	[kategori] [nvarchar](10) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Salon11]    Script Date: 14.08.2023 16:23:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Salon11](
	[yazdir] [bit] NULL,
	[adet] [int] NULL,
	[isim] [nvarchar](50) NULL,
	[fiyat] [int] NULL,
	[stokKategori] [nvarchar](30) NULL,
	[kategori] [nvarchar](10) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Salon12]    Script Date: 14.08.2023 16:23:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Salon12](
	[yazdir] [bit] NULL,
	[adet] [int] NULL,
	[isim] [nvarchar](50) NULL,
	[fiyat] [int] NULL,
	[stokKategori] [nvarchar](30) NULL,
	[kategori] [nvarchar](10) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Salon13]    Script Date: 14.08.2023 16:23:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Salon13](
	[yazdir] [bit] NULL,
	[adet] [int] NULL,
	[isim] [nvarchar](50) NULL,
	[fiyat] [int] NULL,
	[stokKategori] [nvarchar](30) NULL,
	[kategori] [nvarchar](10) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Salon14]    Script Date: 14.08.2023 16:23:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Salon14](
	[yazdir] [bit] NULL,
	[adet] [int] NULL,
	[isim] [nvarchar](50) NULL,
	[fiyat] [int] NULL,
	[stokKategori] [nvarchar](30) NULL,
	[kategori] [nvarchar](10) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Salon15]    Script Date: 14.08.2023 16:23:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Salon15](
	[yazdir] [bit] NULL,
	[adet] [int] NULL,
	[isim] [nvarchar](50) NULL,
	[fiyat] [int] NULL,
	[stokKategori] [nvarchar](30) NULL,
	[kategori] [nvarchar](10) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Salon16]    Script Date: 14.08.2023 16:23:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Salon16](
	[yazdir] [bit] NULL,
	[adet] [int] NULL,
	[isim] [nvarchar](50) NULL,
	[fiyat] [int] NULL,
	[stokKategori] [nvarchar](30) NULL,
	[kategori] [nvarchar](10) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Salon17]    Script Date: 14.08.2023 16:23:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Salon17](
	[yazdir] [bit] NULL,
	[adet] [int] NULL,
	[isim] [nvarchar](50) NULL,
	[fiyat] [int] NULL,
	[stokKategori] [nvarchar](30) NULL,
	[kategori] [nvarchar](10) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Salon2]    Script Date: 14.08.2023 16:23:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Salon2](
	[yazdir] [bit] NULL,
	[adet] [int] NULL,
	[isim] [nvarchar](50) NULL,
	[fiyat] [int] NULL,
	[stokKategori] [nvarchar](30) NULL,
	[kategori] [nvarchar](10) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Salon3]    Script Date: 14.08.2023 16:23:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Salon3](
	[yazdir] [bit] NULL,
	[adet] [int] NULL,
	[isim] [nvarchar](50) NULL,
	[fiyat] [int] NULL,
	[stokKategori] [nvarchar](30) NULL,
	[kategori] [nvarchar](10) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Salon4]    Script Date: 14.08.2023 16:23:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Salon4](
	[yazdir] [bit] NULL,
	[adet] [int] NULL,
	[isim] [nvarchar](50) NULL,
	[fiyat] [int] NULL,
	[stokKategori] [nvarchar](30) NULL,
	[kategori] [nvarchar](10) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Salon5]    Script Date: 14.08.2023 16:23:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Salon5](
	[yazdir] [bit] NULL,
	[adet] [int] NULL,
	[isim] [nvarchar](50) NULL,
	[fiyat] [int] NULL,
	[stokKategori] [nvarchar](30) NULL,
	[kategori] [nvarchar](10) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Salon6]    Script Date: 14.08.2023 16:23:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Salon6](
	[yazdir] [bit] NULL,
	[adet] [int] NULL,
	[isim] [nvarchar](50) NULL,
	[fiyat] [int] NULL,
	[stokKategori] [nvarchar](30) NULL,
	[kategori] [nvarchar](10) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Salon7]    Script Date: 14.08.2023 16:23:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Salon7](
	[yazdir] [bit] NULL,
	[adet] [int] NULL,
	[isim] [nvarchar](50) NULL,
	[fiyat] [int] NULL,
	[stokKategori] [nvarchar](30) NULL,
	[kategori] [nvarchar](10) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Salon8]    Script Date: 14.08.2023 16:23:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Salon8](
	[yazdir] [bit] NULL,
	[adet] [int] NULL,
	[isim] [nvarchar](50) NULL,
	[fiyat] [int] NULL,
	[stokKategori] [nvarchar](30) NULL,
	[kategori] [nvarchar](10) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Salon9]    Script Date: 14.08.2023 16:23:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Salon9](
	[yazdir] [bit] NULL,
	[adet] [int] NULL,
	[isim] [nvarchar](50) NULL,
	[fiyat] [int] NULL,
	[stokKategori] [nvarchar](30) NULL,
	[kategori] [nvarchar](10) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[YiyecekStok]    Script Date: 14.08.2023 16:23:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[YiyecekStok](
	[stokId] [int] IDENTITY(1,1) NOT NULL,
	[stokAd] [nvarchar](75) NULL,
	[stokAdet] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[stokId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ZRapor]    Script Date: 14.08.2023 16:23:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ZRapor](
	[satici] [nvarchar](50) NULL,
	[siparisSaat] [time](7) NULL,
	[odemeDurumu] [nvarchar](15) NULL,
	[islem] [nvarchar](25) NULL,
	[tutar] [int] NULL
) ON [PRIMARY]
GO
INSERT [dbo].[Bahce6] ([yazdir], [adet], [isim], [fiyat], [stokKategori], [kategori]) VALUES (0, 1, N'Double Kebap Döner', 65, N'3(Ekmek)', N'Yiyecek')
GO
INSERT [dbo].[Fire] ([saat], [fiyat]) VALUES (CAST(N'18:55:18' AS Time), 100)
INSERT [dbo].[Fire] ([saat], [fiyat]) VALUES (CAST(N'14:39:00' AS Time), 100)
INSERT [dbo].[Fire] ([saat], [fiyat]) VALUES (CAST(N'14:39:32' AS Time), 50)
GO
SET IDENTITY_INSERT [dbo].[FiyatListesi] ON 

INSERT [dbo].[FiyatListesi] ([urunId], [urunIsim], [fiyat], [kategori], [stokKategori]) VALUES (1, N'Tavuk Döner', 50, N'Yiyecek', N'1(Ekmek+Patates+Marul)')
INSERT [dbo].[FiyatListesi] ([urunId], [urunIsim], [fiyat], [kategori], [stokKategori]) VALUES (2, N'1*5 Tavuk Döner', 55, N'Yiyecek', N'2(Ekmek+Patates+Marul)')
INSERT [dbo].[FiyatListesi] ([urunId], [urunIsim], [fiyat], [kategori], [stokKategori]) VALUES (3, N'Double Tavuk Döner', 65, N'Yiyecek', N'3(Ekmek+Patates+Marul)')
SET IDENTITY_INSERT [dbo].[FiyatListesi] OFF
GO
SET IDENTITY_INSERT [dbo].[GunlukAdisyon] ON 

INSERT [dbo].[GunlukAdisyon] ([adisyonNo], [adisyonAcilisSaat], [adisyonKapanisSaat], [adisyonIcerik], [odemeDurumu], [islem], [tutar]) VALUES (77, CAST(N'05:31:24' AS Time), CAST(N'05:31:33' AS Time), N'0/1 /Zurna Döner/50,0/1 /ŞeftaliIceTea/20,0/1 /ŞeftaliIceTea/20,', N'Ödendi', N'Peşin Satış', 90)
INSERT [dbo].[GunlukAdisyon] ([adisyonNo], [adisyonAcilisSaat], [adisyonKapanisSaat], [adisyonIcerik], [odemeDurumu], [islem], [tutar]) VALUES (78, CAST(N'05:32:02' AS Time), CAST(N'05:32:17' AS Time), N'0/1/1*5 Kebap Döner/55,0/1/1*5 Kebap Döner/55,0/1/Şalgam/15,0/1/Şalgam/15,0/1/Şalgam/15,', N'Ödendi', N'Salon/9', 155)
INSERT [dbo].[GunlukAdisyon] ([adisyonNo], [adisyonAcilisSaat], [adisyonKapanisSaat], [adisyonIcerik], [odemeDurumu], [islem], [tutar]) VALUES (79, CAST(N'05:32:07' AS Time), CAST(N'00:00:00' AS Time), N'0/1 /Kebap Döner/45,0/1 /Şalgam/15,0/1 /Fanta/25,', N'Ödendi', N'Bahçe/7', 85)
SET IDENTITY_INSERT [dbo].[GunlukAdisyon] OFF
GO
INSERT [dbo].[GunSonu] ([ikram], [yiyecek], [icecek], [iptalYiyecek], [iptalIcecek]) VALUES (7, 171, 68, 34, 11)
GO
INSERT [dbo].[GunSonuFiyatlar] ([ikram], [yiyecek], [icecek], [iptalYiyecek], [iptalIcecek]) VALUES (190, 8755, 715, 1835, 140)
GO
SET IDENTITY_INSERT [dbo].[Guvenlik] ON 

INSERT [dbo].[Guvenlik] ([personelId], [personelAd], [sifre], [pozisyon]) VALUES (1, N'Personel1', 1111, N'Personel')
INSERT [dbo].[Guvenlik] ([personelId], [personelAd], [sifre], [pozisyon]) VALUES (2, N'Müdür1', 3161, N'Müdür')
INSERT [dbo].[Guvenlik] ([personelId], [personelAd], [sifre], [pozisyon]) VALUES (3, N'Patron1', 5361, N'Patron')
SET IDENTITY_INSERT [dbo].[Guvenlik] OFF
GO
INSERT [dbo].[IcecekStok] ([Ayran], [Su], [Soda], [Cola], [Fanta], [Sprite], [Salgam], [mangoAnanasIceTea], [seftaliIceTea], [limonIceTea], [karisikMeyveSuyu], [seftaliMeyveSuyu], [kayisiMeyveSuyu], [ILCola], [IILCola], [IIILCola], [ILFanta], [IILFanta], [IIILFanta]) VALUES (200, 200, 200, 150, 140, 150, 144, 100, 100, 100, 100, 100, 100, 100, 100, 100, 100, 100, 100)
GO
SET IDENTITY_INSERT [dbo].[KayitliMusteriler] ON 

INSERT [dbo].[KayitliMusteriler] ([musteriNo], [telefon], [adres]) VALUES (1, N'05515562003', N'DenemeAdres1')
INSERT [dbo].[KayitliMusteriler] ([musteriNo], [telefon], [adres]) VALUES (2, N'01112223344', N'DenemeAdres2')
SET IDENTITY_INSERT [dbo].[KayitliMusteriler] OFF
GO
INSERT [dbo].[ListboxKontrol] ([listbox], [tutar], [durum], [masaYeri], [masaNo], [fisNotu]) VALUES (N'', 0, 0, N'Salon', 1, N'')
INSERT [dbo].[ListboxKontrol] ([listbox], [tutar], [durum], [masaYeri], [masaNo], [fisNotu]) VALUES (N'', 0, 0, N'Salon', 2, N'')
INSERT [dbo].[ListboxKontrol] ([listbox], [tutar], [durum], [masaYeri], [masaNo], [fisNotu]) VALUES (N'', 0, 0, N'Salon', 3, N'')
GO
INSERT [dbo].[MarketMutfakGider] ([marketGider], [mutfakGider]) VALUES (100, 200)
GO
INSERT [dbo].[Masalar] ([masaNo], [masaYeri], [durum], [fiyat]) VALUES (1, N'Salon', 0, 0)
INSERT [dbo].[Masalar] ([masaNo], [masaYeri], [durum], [fiyat]) VALUES (2, N'Salon', 0, 0)
INSERT [dbo].[Masalar] ([masaNo], [masaYeri], [durum], [fiyat]) VALUES (3, N'Salon', 0, 0)
GO
SET IDENTITY_INSERT [dbo].[PaketServis] ON 

INSERT [dbo].[PaketServis] ([paketServisNo], [adisyonAcilisSaat], [adisyonKapanisSaat], [adisyonIcerik], [adres], [telefon], [tutar]) VALUES (4, CAST(N'10:50:59' AS Time), CAST(N'10:51:55' AS Time), N'1/1 /1*5 Kebap Döner/55,1/1 /Kebap Döner/45,1/1 /Kebap Döner/45,1/1 /Kebap Döner/45,1/1 /Double Kebap Döner/65,1/1 /Double Kebap Döner/65,', N'DenemeAdres1', N'05515562003', 320)
SET IDENTITY_INSERT [dbo].[PaketServis] OFF
GO
INSERT [dbo].[PersonelGider] ([personelAdSoyad], [personelUcret]) VALUES (N'personel1', 100)
GO
SET IDENTITY_INSERT [dbo].[YiyecekStok] ON 

INSERT [dbo].[YiyecekStok] ([stokId], [stokAd], [stokAdet]) VALUES (1, N'Tavuk', 1000)
INSERT [dbo].[YiyecekStok] ([stokId], [stokAd], [stokAdet]) VALUES (2, N'Ekmek', 100)
INSERT [dbo].[YiyecekStok] ([stokId], [stokAd], [stokAdet]) VALUES (3, N'Patates', 1000)
SET IDENTITY_INSERT [dbo].[YiyecekStok] OFF
GO
INSERT [dbo].[ZRapor] ([satici], [siparisSaat], [odemeDurumu], [islem], [tutar]) VALUES (N'Personel', CAST(N'05:31:33' AS Time), N'Nakit', N'Peşin Satış', 90)
INSERT [dbo].[ZRapor] ([satici], [siparisSaat], [odemeDurumu], [islem], [tutar]) VALUES (N'Personel', CAST(N'05:32:17' AS Time), N'Nakit', N'Salon/9', 155)
INSERT [dbo].[ZRapor] ([satici], [siparisSaat], [odemeDurumu], [islem], [tutar]) VALUES (N'Personel', CAST(N'05:38:02' AS Time), N'Nakit', N'Bahçe/14', 130)
GO
