USE [Pizzacı]
GO
/****** Object:  Table [dbo].[Bahce1]    Script Date: 02.10.2023 09:00:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bahce1](
	[yazdir] [bit] NULL,
	[adet] [int] NULL,
	[isim] [nvarchar](50) NULL,
	[fiyat] [int] NULL,
	[stokKategori] [nvarchar](30) NULL,
	[kategori] [nvarchar](10) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Bahce10]    Script Date: 02.10.2023 09:00:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bahce10](
	[yazdir] [bit] NULL,
	[adet] [int] NULL,
	[isim] [nvarchar](50) NULL,
	[fiyat] [int] NULL,
	[stokKategori] [nvarchar](30) NULL,
	[kategori] [nvarchar](10) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Bahce11]    Script Date: 02.10.2023 09:00:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bahce11](
	[yazdir] [bit] NULL,
	[adet] [int] NULL,
	[isim] [nvarchar](50) NULL,
	[fiyat] [int] NULL,
	[stokKategori] [nvarchar](30) NULL,
	[kategori] [nvarchar](10) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Bahce12]    Script Date: 02.10.2023 09:00:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bahce12](
	[yazdir] [bit] NULL,
	[adet] [int] NULL,
	[isim] [nvarchar](50) NULL,
	[fiyat] [int] NULL,
	[stokKategori] [nvarchar](30) NULL,
	[kategori] [nvarchar](10) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Bahce13]    Script Date: 02.10.2023 09:00:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bahce13](
	[yazdir] [bit] NULL,
	[adet] [int] NULL,
	[isim] [nvarchar](50) NULL,
	[fiyat] [int] NULL,
	[stokKategori] [nvarchar](30) NULL,
	[kategori] [nvarchar](10) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Bahce14]    Script Date: 02.10.2023 09:00:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bahce14](
	[yazdir] [bit] NULL,
	[adet] [int] NULL,
	[isim] [nvarchar](50) NULL,
	[fiyat] [int] NULL,
	[stokKategori] [nvarchar](30) NULL,
	[kategori] [nvarchar](10) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Bahce15]    Script Date: 02.10.2023 09:00:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bahce15](
	[yazdir] [bit] NULL,
	[adet] [int] NULL,
	[isim] [nvarchar](50) NULL,
	[fiyat] [int] NULL,
	[stokKategori] [nvarchar](30) NULL,
	[kategori] [nvarchar](10) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Bahce16]    Script Date: 02.10.2023 09:00:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bahce16](
	[yazdir] [bit] NULL,
	[adet] [int] NULL,
	[isim] [nvarchar](50) NULL,
	[fiyat] [int] NULL,
	[stokKategori] [nvarchar](30) NULL,
	[kategori] [nvarchar](10) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Bahce17]    Script Date: 02.10.2023 09:00:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bahce17](
	[yazdir] [bit] NULL,
	[adet] [int] NULL,
	[isim] [nvarchar](50) NULL,
	[fiyat] [int] NULL,
	[stokKategori] [nvarchar](30) NULL,
	[kategori] [nvarchar](10) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Bahce18]    Script Date: 02.10.2023 09:00:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bahce18](
	[yazdir] [bit] NULL,
	[adet] [int] NULL,
	[isim] [nvarchar](50) NULL,
	[fiyat] [int] NULL,
	[stokKategori] [nvarchar](30) NULL,
	[kategori] [nvarchar](10) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Bahce19]    Script Date: 02.10.2023 09:00:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bahce19](
	[yazdir] [bit] NULL,
	[adet] [int] NULL,
	[isim] [nvarchar](50) NULL,
	[fiyat] [int] NULL,
	[stokKategori] [nvarchar](30) NULL,
	[kategori] [nvarchar](10) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Bahce2]    Script Date: 02.10.2023 09:00:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bahce2](
	[yazdir] [bit] NULL,
	[adet] [int] NULL,
	[isim] [nvarchar](50) NULL,
	[fiyat] [int] NULL,
	[stokKategori] [nvarchar](30) NULL,
	[kategori] [nvarchar](10) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Bahce20]    Script Date: 02.10.2023 09:00:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bahce20](
	[yazdir] [bit] NULL,
	[adet] [int] NULL,
	[isim] [nvarchar](50) NULL,
	[fiyat] [int] NULL,
	[stokKategori] [nvarchar](30) NULL,
	[kategori] [nvarchar](10) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Bahce21]    Script Date: 02.10.2023 09:00:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bahce21](
	[yazdir] [bit] NULL,
	[adet] [int] NULL,
	[isim] [nvarchar](50) NULL,
	[fiyat] [int] NULL,
	[stokKategori] [nvarchar](30) NULL,
	[kategori] [nvarchar](10) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Bahce22]    Script Date: 02.10.2023 09:00:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bahce22](
	[yazdir] [bit] NULL,
	[adet] [int] NULL,
	[isim] [nvarchar](50) NULL,
	[fiyat] [int] NULL,
	[stokKategori] [nvarchar](30) NULL,
	[kategori] [nvarchar](10) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Bahce3]    Script Date: 02.10.2023 09:00:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bahce3](
	[yazdir] [bit] NULL,
	[adet] [int] NULL,
	[isim] [nvarchar](50) NULL,
	[fiyat] [int] NULL,
	[stokKategori] [nvarchar](30) NULL,
	[kategori] [nvarchar](10) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Bahce4]    Script Date: 02.10.2023 09:00:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bahce4](
	[yazdir] [bit] NULL,
	[adet] [int] NULL,
	[isim] [nvarchar](50) NULL,
	[fiyat] [int] NULL,
	[stokKategori] [nvarchar](30) NULL,
	[kategori] [nvarchar](10) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Bahce5]    Script Date: 02.10.2023 09:00:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bahce5](
	[yazdir] [bit] NULL,
	[adet] [int] NULL,
	[isim] [nvarchar](50) NULL,
	[fiyat] [int] NULL,
	[stokKategori] [nvarchar](30) NULL,
	[kategori] [nvarchar](10) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Bahce6]    Script Date: 02.10.2023 09:00:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bahce6](
	[yazdir] [bit] NULL,
	[adet] [int] NULL,
	[isim] [nvarchar](50) NULL,
	[fiyat] [int] NULL,
	[stokKategori] [nvarchar](30) NULL,
	[kategori] [nvarchar](10) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Bahce7]    Script Date: 02.10.2023 09:00:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bahce7](
	[yazdir] [bit] NULL,
	[adet] [int] NULL,
	[isim] [nvarchar](50) NULL,
	[fiyat] [int] NULL,
	[stokKategori] [nvarchar](30) NULL,
	[kategori] [nvarchar](10) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Bahce8]    Script Date: 02.10.2023 09:00:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bahce8](
	[yazdir] [bit] NULL,
	[adet] [int] NULL,
	[isim] [nvarchar](50) NULL,
	[fiyat] [int] NULL,
	[stokKategori] [nvarchar](30) NULL,
	[kategori] [nvarchar](10) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Bahce9]    Script Date: 02.10.2023 09:00:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bahce9](
	[yazdir] [bit] NULL,
	[adet] [int] NULL,
	[isim] [nvarchar](50) NULL,
	[fiyat] [int] NULL,
	[stokKategori] [nvarchar](30) NULL,
	[kategori] [nvarchar](10) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Bahsis]    Script Date: 02.10.2023 09:00:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bahsis](
	[saat] [time](7) NULL,
	[tutar] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Fire]    Script Date: 02.10.2023 09:00:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Fire](
	[saat] [time](7) NULL,
	[fiyat] [int] NULL,
	[kategori] [nvarchar](15) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FiyatListesi]    Script Date: 02.10.2023 09:00:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FiyatListesi](
	[urunId] [int] IDENTITY(1,1) NOT NULL,
	[urunIsim] [nvarchar](100) NULL,
	[fiyat] [int] NULL,
	[kategori] [nvarchar](50) NULL,
	[stokKategori] [nvarchar](150) NULL,
PRIMARY KEY CLUSTERED 
(
	[urunId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GunlukAdisyon]    Script Date: 02.10.2023 09:00:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GunlukAdisyon](
	[adisyonNo] [int] IDENTITY(1,1) NOT NULL,
	[adisyonAcilisSaat] [time](7) NULL,
	[adisyonKapanisSaat] [time](7) NULL,
	[adisyonIcerik] [nvarchar](500) NULL,
	[odemeDurumu] [nvarchar](50) NULL,
	[islem] [nvarchar](50) NULL,
	[tutar] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[adisyonNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GunSonu]    Script Date: 02.10.2023 09:00:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GunSonu](
	[ikram] [int] NULL,
	[yiyecek] [int] NULL,
	[icecek] [int] NULL,
	[iptalYiyecek] [int] NULL,
	[iptalIcecek] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GunSonuFiyatlar]    Script Date: 02.10.2023 09:00:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GunSonuFiyatlar](
	[ikram] [int] NULL,
	[yiyecek] [int] NULL,
	[icecek] [int] NULL,
	[iptalYiyecek] [int] NULL,
	[iptalIcecek] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Guvenlik]    Script Date: 02.10.2023 09:00:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Guvenlik](
	[personelId] [int] IDENTITY(1,1) NOT NULL,
	[personelAd] [nvarchar](75) NULL,
	[sifre] [int] NULL,
	[pozisyon] [nvarchar](25) NULL,
PRIMARY KEY CLUSTERED 
(
	[personelId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[IcecekStok]    Script Date: 02.10.2023 09:00:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IcecekStok](
	[Ayran] [int] NULL,
	[Su] [int] NULL,
	[Soda] [int] NULL,
	[Cola] [int] NULL,
	[Fanta] [int] NULL,
	[Sprite] [int] NULL,
	[Salgam] [int] NULL,
	[mangoAnanasIceTea] [int] NULL,
	[seftaliIceTea] [int] NULL,
	[limonIceTea] [int] NULL,
	[karisikMeyveSuyu] [int] NULL,
	[seftaliMeyveSuyu] [int] NULL,
	[kayisiMeyveSuyu] [int] NULL,
	[ILCola] [int] NULL,
	[IILCola] [int] NULL,
	[IIILCola] [int] NULL,
	[ILFanta] [int] NULL,
	[IILFanta] [int] NULL,
	[IIILFanta] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[IndirimKodu]    Script Date: 02.10.2023 09:00:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IndirimKodu](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IndirimKodu] [nvarchar](50) NULL,
	[IndirimOrani] [int] NULL,
	[SonKullanmaTarihi] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KayitliMusteriler]    Script Date: 02.10.2023 09:00:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KayitliMusteriler](
	[musteriNo] [int] IDENTITY(1,1) NOT NULL,
	[telefon] [nvarchar](12) NULL,
	[adres] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[musteriNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KuryeIstatistik]    Script Date: 02.10.2023 09:00:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KuryeIstatistik](
	[Tarih] [date] NULL,
	[KuryeId] [int] NULL,
	[OrtalamaGoturmeSuresi] [time](7) NULL,
	[PaketSayisi] [int] NULL,
	[Ucret] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KuryeListesi]    Script Date: 02.10.2023 09:00:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KuryeListesi](
	[KuryeId] [int] IDENTITY(1,1) NOT NULL,
	[AdSoyad] [nvarchar](50) NULL,
	[Telefon] [nvarchar](15) NULL,
	[TCNo] [nvarchar](12) NULL,
PRIMARY KEY CLUSTERED 
(
	[KuryeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KuryePaket]    Script Date: 02.10.2023 09:00:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KuryePaket](
	[KuryeId] [int] IDENTITY(1,1) NOT NULL,
	[AdSoyad] [nvarchar](50) NULL,
	[YoldaMi] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[KuryeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ListboxKontrol]    Script Date: 02.10.2023 09:00:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ListboxKontrol](
	[listbox] [nvarchar](500) NOT NULL,
	[tutar] [int] NOT NULL,
	[durum] [bit] NULL,
	[masaYeri] [nvarchar](50) NULL,
	[masaNo] [int] NULL,
	[fisNotu] [nvarchar](150) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MarketMutfakGider]    Script Date: 02.10.2023 09:00:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MarketMutfakGider](
	[marketGider] [int] NULL,
	[mutfakGider] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Masalar]    Script Date: 02.10.2023 09:00:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Masalar](
	[masaNo] [int] NULL,
	[masaYeri] [nvarchar](10) NULL,
	[durum] [bit] NULL,
	[fiyat] [int] NULL,
	[mutfak] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PaketAtama]    Script Date: 02.10.2023 09:00:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PaketAtama](
	[KuryeId] [int] NULL,
	[SiparisId] [int] NULL,
	[YolaCikisSaat] [time](7) NULL,
	[GelisSaat] [time](7) NULL,
	[Durum] [nvarchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PaketServis]    Script Date: 02.10.2023 09:00:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PaketServis](
	[paketServisNo] [int] IDENTITY(1,1) NOT NULL,
	[adisyonAcilisSaat] [time](7) NULL,
	[adisyonKapanisSaat] [time](7) NULL,
	[adisyonIcerik] [nvarchar](500) NULL,
	[adres] [nvarchar](200) NULL,
	[telefon] [nvarchar](12) NULL,
	[tutar] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[paketServisNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PersonelGider]    Script Date: 02.10.2023 09:00:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PersonelGider](
	[personelAdSoyad] [nvarchar](75) NULL,
	[personelUcret] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Salon1]    Script Date: 02.10.2023 09:00:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Salon1](
	[yazdir] [bit] NULL,
	[adet] [int] NULL,
	[isim] [nvarchar](50) NULL,
	[fiyat] [int] NULL,
	[stokKategori] [nvarchar](30) NULL,
	[kategori] [nvarchar](10) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Salon10]    Script Date: 02.10.2023 09:00:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Salon10](
	[yazdir] [bit] NULL,
	[adet] [int] NULL,
	[isim] [nvarchar](50) NULL,
	[fiyat] [int] NULL,
	[stokKategori] [nvarchar](30) NULL,
	[kategori] [nvarchar](10) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Salon11]    Script Date: 02.10.2023 09:00:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Salon11](
	[yazdir] [bit] NULL,
	[adet] [int] NULL,
	[isim] [nvarchar](50) NULL,
	[fiyat] [int] NULL,
	[stokKategori] [nvarchar](30) NULL,
	[kategori] [nvarchar](10) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Salon12]    Script Date: 02.10.2023 09:00:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Salon12](
	[yazdir] [bit] NULL,
	[adet] [int] NULL,
	[isim] [nvarchar](50) NULL,
	[fiyat] [int] NULL,
	[stokKategori] [nvarchar](30) NULL,
	[kategori] [nvarchar](10) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Salon13]    Script Date: 02.10.2023 09:00:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Salon13](
	[yazdir] [bit] NULL,
	[adet] [int] NULL,
	[isim] [nvarchar](50) NULL,
	[fiyat] [int] NULL,
	[stokKategori] [nvarchar](30) NULL,
	[kategori] [nvarchar](10) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Salon14]    Script Date: 02.10.2023 09:00:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Salon14](
	[yazdir] [bit] NULL,
	[adet] [int] NULL,
	[isim] [nvarchar](50) NULL,
	[fiyat] [int] NULL,
	[stokKategori] [nvarchar](30) NULL,
	[kategori] [nvarchar](10) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Salon15]    Script Date: 02.10.2023 09:00:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Salon15](
	[yazdir] [bit] NULL,
	[adet] [int] NULL,
	[isim] [nvarchar](50) NULL,
	[fiyat] [int] NULL,
	[stokKategori] [nvarchar](30) NULL,
	[kategori] [nvarchar](10) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Salon16]    Script Date: 02.10.2023 09:00:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Salon16](
	[yazdir] [bit] NULL,
	[adet] [int] NULL,
	[isim] [nvarchar](50) NULL,
	[fiyat] [int] NULL,
	[stokKategori] [nvarchar](30) NULL,
	[kategori] [nvarchar](10) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Salon17]    Script Date: 02.10.2023 09:00:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Salon17](
	[yazdir] [bit] NULL,
	[adet] [int] NULL,
	[isim] [nvarchar](50) NULL,
	[fiyat] [int] NULL,
	[stokKategori] [nvarchar](30) NULL,
	[kategori] [nvarchar](10) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Salon18]    Script Date: 02.10.2023 09:00:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Salon18](
	[yazdir] [bit] NULL,
	[adet] [int] NULL,
	[isim] [nvarchar](50) NULL,
	[fiyat] [int] NULL,
	[stokKategori] [nvarchar](30) NULL,
	[kategori] [nvarchar](10) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Salon2]    Script Date: 02.10.2023 09:00:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Salon2](
	[yazdir] [bit] NULL,
	[adet] [int] NULL,
	[isim] [nvarchar](50) NULL,
	[fiyat] [int] NULL,
	[stokKategori] [nvarchar](30) NULL,
	[kategori] [nvarchar](10) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Salon3]    Script Date: 02.10.2023 09:00:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Salon3](
	[yazdir] [bit] NULL,
	[adet] [int] NULL,
	[isim] [nvarchar](50) NULL,
	[fiyat] [int] NULL,
	[stokKategori] [nvarchar](30) NULL,
	[kategori] [nvarchar](10) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Salon4]    Script Date: 02.10.2023 09:00:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Salon4](
	[yazdir] [bit] NULL,
	[adet] [int] NULL,
	[isim] [nvarchar](50) NULL,
	[fiyat] [int] NULL,
	[stokKategori] [nvarchar](30) NULL,
	[kategori] [nvarchar](10) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Salon5]    Script Date: 02.10.2023 09:00:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Salon5](
	[yazdir] [bit] NULL,
	[adet] [int] NULL,
	[isim] [nvarchar](50) NULL,
	[fiyat] [int] NULL,
	[stokKategori] [nvarchar](30) NULL,
	[kategori] [nvarchar](10) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Salon6]    Script Date: 02.10.2023 09:00:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Salon6](
	[yazdir] [bit] NULL,
	[adet] [int] NULL,
	[isim] [nvarchar](50) NULL,
	[fiyat] [int] NULL,
	[stokKategori] [nvarchar](30) NULL,
	[kategori] [nvarchar](10) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Salon7]    Script Date: 02.10.2023 09:00:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Salon7](
	[yazdir] [bit] NULL,
	[adet] [int] NULL,
	[isim] [nvarchar](50) NULL,
	[fiyat] [int] NULL,
	[stokKategori] [nvarchar](30) NULL,
	[kategori] [nvarchar](10) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Salon8]    Script Date: 02.10.2023 09:00:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Salon8](
	[yazdir] [bit] NULL,
	[adet] [int] NULL,
	[isim] [nvarchar](50) NULL,
	[fiyat] [int] NULL,
	[stokKategori] [nvarchar](30) NULL,
	[kategori] [nvarchar](10) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Salon9]    Script Date: 02.10.2023 09:00:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Salon9](
	[yazdir] [bit] NULL,
	[adet] [int] NULL,
	[isim] [nvarchar](50) NULL,
	[fiyat] [int] NULL,
	[stokKategori] [nvarchar](30) NULL,
	[kategori] [nvarchar](10) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[YiyecekStok]    Script Date: 02.10.2023 09:00:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[YiyecekStok](
	[stokId] [int] IDENTITY(1,1) NOT NULL,
	[stokAd] [nvarchar](75) NULL,
	[stokAdet] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[stokId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ZRapor]    Script Date: 02.10.2023 09:00:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ZRapor](
	[siparisId] [int] IDENTITY(1,1) NOT NULL,
	[satici] [nvarchar](50) NULL,
	[siparisSaat] [time](7) NULL,
	[odemeDurumu] [nvarchar](15) NULL,
	[islem] [nvarchar](25) NULL,
	[tutar] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[siparisId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Bahce13] ([yazdir], [adet], [isim], [fiyat], [stokKategori], [kategori]) VALUES (0, 1, N'Double Tabak Servis', 75, N'4(Ekmek+Patates+Marul)', N'Yiyecek')
INSERT [dbo].[Bahce13] ([yazdir], [adet], [isim], [fiyat], [stokKategori], [kategori]) VALUES (0, 1, N'Patates Servis', 25, N'1(Patates)', N'Yiyecek')
INSERT [dbo].[Bahce13] ([yazdir], [adet], [isim], [fiyat], [stokKategori], [kategori]) VALUES (0, 1, N'Kola', 30, N'Cola', N'İçecek')
GO
INSERT [dbo].[Bahce2] ([yazdir], [adet], [isim], [fiyat], [stokKategori], [kategori]) VALUES (0, 1, N'Double Zurna Döner', 75, N'4(Ekmek+Patates+Marul)', N'Yiyecek')
INSERT [dbo].[Bahce2] ([yazdir], [adet], [isim], [fiyat], [stokKategori], [kategori]) VALUES (0, 1, N'Ayran', 20, N'Ayran', N'İçecek')
GO
INSERT [dbo].[Bahce5] ([yazdir], [adet], [isim], [fiyat], [stokKategori], [kategori]) VALUES (0, 1, N'1*5 Kebap Döner', 55, N'2(Ekmek)', N'Yiyecek')
INSERT [dbo].[Bahce5] ([yazdir], [adet], [isim], [fiyat], [stokKategori], [kategori]) VALUES (0, 1, N'Sprite', 25, N'Sprite', N'İçecek')
GO
INSERT [dbo].[Bahce6] ([yazdir], [adet], [isim], [fiyat], [stokKategori], [kategori]) VALUES (0, 1, N'1*5 Kebap Döner', 55, N'2(Ekmek)', N'Yiyecek')
INSERT [dbo].[Bahce6] ([yazdir], [adet], [isim], [fiyat], [stokKategori], [kategori]) VALUES (0, 1, N'Fanta', 30, N'Fanta', N'İçecek')
GO
INSERT [dbo].[Bahsis] ([saat], [tutar]) VALUES (CAST(N'14:14:40' AS Time), 45)
GO
INSERT [dbo].[Fire] ([saat], [fiyat], [kategori]) VALUES (CAST(N'11:32:13' AS Time), 50, N'İçecek')
INSERT [dbo].[Fire] ([saat], [fiyat], [kategori]) VALUES (CAST(N'11:34:08' AS Time), 50, N'İçecek')
INSERT [dbo].[Fire] ([saat], [fiyat], [kategori]) VALUES (CAST(N'11:35:04' AS Time), 50, N'Yiyecek')
GO
SET IDENTITY_INSERT [dbo].[FiyatListesi] ON 

INSERT [dbo].[FiyatListesi] ([urunId], [urunIsim], [fiyat], [kategori], [stokKategori]) VALUES (3, N'Double Tavuk Döner', 65, N'Yiyecek', N'3(Ekmek+Patates+Marul)')
INSERT [dbo].[FiyatListesi] ([urunId], [urunIsim], [fiyat], [kategori], [stokKategori]) VALUES (4, N'Zurna Döner', 60, N'Yiyecek', N'2(Ekmek+Patates+Marul)')
INSERT [dbo].[FiyatListesi] ([urunId], [urunIsim], [fiyat], [kategori], [stokKategori]) VALUES (5, N'1.5 Zurna Döner', 60, N'Yiyecek', N'3(Ekmek+Patates+Marul)')
SET IDENTITY_INSERT [dbo].[FiyatListesi] OFF
GO
SET IDENTITY_INSERT [dbo].[GunlukAdisyon] ON 

INSERT [dbo].[GunlukAdisyon] ([adisyonNo], [adisyonAcilisSaat], [adisyonKapanisSaat], [adisyonIcerik], [odemeDurumu], [islem], [tutar]) VALUES (1, CAST(N'09:36:20' AS Time), CAST(N'09:36:32' AS Time), N'0/1 /Double Tavuk Döner/65,0/1 /Double Tavuk Döner/65,0/1 /Ayran/20,0/1 /Ayran/20,', N'Ödendi', N'Peşin Satış', 170)
INSERT [dbo].[GunlukAdisyon] ([adisyonNo], [adisyonAcilisSaat], [adisyonKapanisSaat], [adisyonIcerik], [odemeDurumu], [islem], [tutar]) VALUES (2, CAST(N'20:37:21' AS Time), CAST(N'20:37:24' AS Time), N'0/1 /Kebap Döner/45,0/1 /1*5 Kebap Döner/55,0/1 /Fanta/30,0/1 /Sprite/25,', N'Ödendi', N'Peşin Satış', 155)
INSERT [dbo].[GunlukAdisyon] ([adisyonNo], [adisyonAcilisSaat], [adisyonKapanisSaat], [adisyonIcerik], [odemeDurumu], [islem], [tutar]) VALUES (3, CAST(N'20:37:29' AS Time), CAST(N'20:37:42' AS Time), N'0/1 /Kebap Döner/45,0/1 /1*5 Kebap Döner/55,0/1 /Fanta/30,0/1 /Sprite/25,', N'Ödendi', N'Peşin Satış', 155)
SET IDENTITY_INSERT [dbo].[GunlukAdisyon] OFF
GO
INSERT [dbo].[GunSonu] ([ikram], [yiyecek], [icecek], [iptalYiyecek], [iptalIcecek]) VALUES (2, 194, 142, 4, 2)
GO
INSERT [dbo].[GunSonuFiyatlar] ([ikram], [yiyecek], [icecek], [iptalYiyecek], [iptalIcecek]) VALUES (50, 11005, 3280, 170, 60)
GO
SET IDENTITY_INSERT [dbo].[Guvenlik] ON 

INSERT [dbo].[Guvenlik] ([personelId], [personelAd], [sifre], [pozisyon]) VALUES (1, N'Personel1', 1111, N'Personel')
INSERT [dbo].[Guvenlik] ([personelId], [personelAd], [sifre], [pozisyon]) VALUES (2, N'Müdür1', 3161, N'Müdür')
INSERT [dbo].[Guvenlik] ([personelId], [personelAd], [sifre], [pozisyon]) VALUES (3, N'Patron1', 5361, N'Patron')
SET IDENTITY_INSERT [dbo].[Guvenlik] OFF
GO
INSERT [dbo].[IcecekStok] ([Ayran], [Su], [Soda], [Cola], [Fanta], [Sprite], [Salgam], [mangoAnanasIceTea], [seftaliIceTea], [limonIceTea], [karisikMeyveSuyu], [seftaliMeyveSuyu], [kayisiMeyveSuyu], [ILCola], [IILCola], [IIILCola], [ILFanta], [IILFanta], [IIILFanta]) VALUES (171, 300, 200, 183, 38, 130, 114, 100, 100, 100, 100, 100, 100, 100, 100, 100, 100, 100, 100)
GO
SET IDENTITY_INSERT [dbo].[KayitliMusteriler] ON 

INSERT [dbo].[KayitliMusteriler] ([musteriNo], [telefon], [adres]) VALUES (1, N'01111111111', N'deneme2')
INSERT [dbo].[KayitliMusteriler] ([musteriNo], [telefon], [adres]) VALUES (2, N'05554446622', N'DenemeAdres3')
INSERT [dbo].[KayitliMusteriler] ([musteriNo], [telefon], [adres]) VALUES (3, N'01113332255', N'DenemeAdres5')
SET IDENTITY_INSERT [dbo].[KayitliMusteriler] OFF
GO
SET IDENTITY_INSERT [dbo].[KuryeListesi] ON 

INSERT [dbo].[KuryeListesi] ([KuryeId], [AdSoyad], [Telefon], [TCNo]) VALUES (1, N'Kurye1', N'01111111111', N'11111111111')
INSERT [dbo].[KuryeListesi] ([KuryeId], [AdSoyad], [Telefon], [TCNo]) VALUES (2, N'Kurye2', N'02222222223', N'22222222223')
INSERT [dbo].[KuryeListesi] ([KuryeId], [AdSoyad], [Telefon], [TCNo]) VALUES (3, N'Kurye3', N'03333333334', N'33333333334')
SET IDENTITY_INSERT [dbo].[KuryeListesi] OFF
GO
SET IDENTITY_INSERT [dbo].[KuryePaket] ON 

INSERT [dbo].[KuryePaket] ([KuryeId], [AdSoyad], [YoldaMi]) VALUES (1, N'Kurye1', 0)
INSERT [dbo].[KuryePaket] ([KuryeId], [AdSoyad], [YoldaMi]) VALUES (2, N'Kurye2', 0)
INSERT [dbo].[KuryePaket] ([KuryeId], [AdSoyad], [YoldaMi]) VALUES (3, N'Kurye3', 1)
SET IDENTITY_INSERT [dbo].[KuryePaket] OFF
GO
INSERT [dbo].[ListboxKontrol] ([listbox], [tutar], [durum], [masaYeri], [masaNo], [fisNotu]) VALUES (N'', 0, 0, N'Salon', 1, N'')
INSERT [dbo].[ListboxKontrol] ([listbox], [tutar], [durum], [masaYeri], [masaNo], [fisNotu]) VALUES (N'0/1 /Double Zurna Döner/75,0/1 /Double Zurna Döner/75,0/1 /1*5 Kebap Döner/55,0/1 /Fanta/30,0/1 /Şalgam/15,0/1 /Sprite/25,', 275, 1, N'Salon', 2, N'')
INSERT [dbo].[ListboxKontrol] ([listbox], [tutar], [durum], [masaYeri], [masaNo], [fisNotu]) VALUES (N'', 0, 0, N'Salon', 3, N'')
GO
INSERT [dbo].[MarketMutfakGider] ([marketGider], [mutfakGider]) VALUES (500, 450)
INSERT [dbo].[MarketMutfakGider] ([marketGider], [mutfakGider]) VALUES (250, 300)
INSERT [dbo].[MarketMutfakGider] ([marketGider], [mutfakGider]) VALUES (350, 450)
GO
INSERT [dbo].[Masalar] ([masaNo], [masaYeri], [durum], [fiyat], [mutfak]) VALUES (1, N'Salon', 0, 0, 0)
INSERT [dbo].[Masalar] ([masaNo], [masaYeri], [durum], [fiyat], [mutfak]) VALUES (2, N'Salon', 1, 275, 2)
INSERT [dbo].[Masalar] ([masaNo], [masaYeri], [durum], [fiyat], [mutfak]) VALUES (3, N'Salon', 0, 0, 0)
GO
INSERT [dbo].[PaketAtama] ([KuryeId], [SiparisId], [YolaCikisSaat], [GelisSaat], [Durum]) VALUES (1, 2, CAST(N'22:06:59' AS Time), CAST(N'21:29:40' AS Time), N'Teslim Edildi')
INSERT [dbo].[PaketAtama] ([KuryeId], [SiparisId], [YolaCikisSaat], [GelisSaat], [Durum]) VALUES (2, 4, CAST(N'22:07:04' AS Time), CAST(N'21:29:37' AS Time), N'Teslim Edildi')
INSERT [dbo].[PaketAtama] ([KuryeId], [SiparisId], [YolaCikisSaat], [GelisSaat], [Durum]) VALUES (3, 5, CAST(N'22:07:09' AS Time), CAST(N'21:29:34' AS Time), N'Teslim Edildi')
GO
SET IDENTITY_INSERT [dbo].[PaketServis] ON 

INSERT [dbo].[PaketServis] ([paketServisNo], [adisyonAcilisSaat], [adisyonKapanisSaat], [adisyonIcerik], [adres], [telefon], [tutar]) VALUES (1, CAST(N'09:36:20' AS Time), CAST(N'09:36:32' AS Time), N'0/1 /Double Tavuk Döner/65,0/1 /Double Tavuk Döner/65,0/1 /Ayran/20,0/1 /Ayran/20,', N'deneme2', N'01111111111', 170)
INSERT [dbo].[PaketServis] ([paketServisNo], [adisyonAcilisSaat], [adisyonKapanisSaat], [adisyonIcerik], [adres], [telefon], [tutar]) VALUES (2, CAST(N'20:37:29' AS Time), CAST(N'20:37:42' AS Time), N'0/1 /Kebap Döner/45,0/1 /1*5 Kebap Döner/55,0/1 /Fanta/30,0/1 /Sprite/25,', N'deneme2', N'01111111111', 155)
INSERT [dbo].[PaketServis] ([paketServisNo], [adisyonAcilisSaat], [adisyonKapanisSaat], [adisyonIcerik], [adres], [telefon], [tutar]) VALUES (3, CAST(N'20:47:01' AS Time), CAST(N'20:47:12' AS Time), N'0/1 /Double Tavuk Döner/65,0/1 /Double Tavuk Döner/65,0/1 /Ayran/20,0/1 /Ayran/20,', N'deneme2', N'01111111111', 170)
SET IDENTITY_INSERT [dbo].[PaketServis] OFF
GO
INSERT [dbo].[PersonelGider] ([personelAdSoyad], [personelUcret]) VALUES (N'Personel1', 450)
INSERT [dbo].[PersonelGider] ([personelAdSoyad], [personelUcret]) VALUES (N'Personel2', 475)
INSERT [dbo].[PersonelGider] ([personelAdSoyad], [personelUcret]) VALUES (N'Personel3', 500)
GO
INSERT [dbo].[Salon10] ([yazdir], [adet], [isim], [fiyat], [stokKategori], [kategori]) VALUES (0, 1, N'1*5 Tabak Servis', 65, N'3(Ekmek+Patates)', N'Yiyecek')
INSERT [dbo].[Salon10] ([yazdir], [adet], [isim], [fiyat], [stokKategori], [kategori]) VALUES (0, 1, N'Şalgam', 15, N'Salgam', N'İçecek')
GO
INSERT [dbo].[Salon13] ([yazdir], [adet], [isim], [fiyat], [stokKategori], [kategori]) VALUES (0, 1, N'Tabak Servis', 55, N'2(Ekmek+Patates+Marul)', N'Yiyecek')
GO
INSERT [dbo].[Salon2] ([yazdir], [adet], [isim], [fiyat], [stokKategori], [kategori]) VALUES (0, 1, N'Double Zurna Döner', 75, N'4(Ekmek+Patates+Marul)', N'Yiyecek')
INSERT [dbo].[Salon2] ([yazdir], [adet], [isim], [fiyat], [stokKategori], [kategori]) VALUES (0, 1, N'1*5 Kebap Döner', 55, N'2(Ekmek)', N'Yiyecek')
INSERT [dbo].[Salon2] ([yazdir], [adet], [isim], [fiyat], [stokKategori], [kategori]) VALUES (0, 1, N'Fanta', 30, N'Fanta', N'İçecek')
GO
INSERT [dbo].[Salon5] ([yazdir], [adet], [isim], [fiyat], [stokKategori], [kategori]) VALUES (0, 1, N'Double Kebap Döner', 65, N'3(Ekmek)', N'Yiyecek')
INSERT [dbo].[Salon5] ([yazdir], [adet], [isim], [fiyat], [stokKategori], [kategori]) VALUES (0, 1, N'Fanta', 30, N'Fanta', N'İçecek')
GO
INSERT [dbo].[Salon6] ([yazdir], [adet], [isim], [fiyat], [stokKategori], [kategori]) VALUES (0, 1, N'Kebap Döner', 45, N'1(Ekmek)', N'Yiyecek')
INSERT [dbo].[Salon6] ([yazdir], [adet], [isim], [fiyat], [stokKategori], [kategori]) VALUES (0, 1, N'Fanta', 30, N'Fanta', N'İçecek')
GO
INSERT [dbo].[Salon8] ([yazdir], [adet], [isim], [fiyat], [stokKategori], [kategori]) VALUES (1, 1, N'Double Zurna Döner', 75, N'4(Ekmek+Patates+Marul)', N'Yiyecek')
INSERT [dbo].[Salon8] ([yazdir], [adet], [isim], [fiyat], [stokKategori], [kategori]) VALUES (1, 1, N'Kebap Döner', 45, N'1(Ekmek)', N'Yiyecek')
INSERT [dbo].[Salon8] ([yazdir], [adet], [isim], [fiyat], [stokKategori], [kategori]) VALUES (1, 1, N'Fanta', 30, N'Fanta', N'İçecek')
GO
SET IDENTITY_INSERT [dbo].[YiyecekStok] ON 

INSERT [dbo].[YiyecekStok] ([stokId], [stokAd], [stokAdet]) VALUES (1, N'Tavuk', 1000)
INSERT [dbo].[YiyecekStok] ([stokId], [stokAd], [stokAdet]) VALUES (2, N'Ekmek', 100)
INSERT [dbo].[YiyecekStok] ([stokId], [stokAd], [stokAdet]) VALUES (3, N'Patates', 1000)
SET IDENTITY_INSERT [dbo].[YiyecekStok] OFF
GO
SET IDENTITY_INSERT [dbo].[ZRapor] ON 

INSERT [dbo].[ZRapor] ([siparisId], [satici], [siparisSaat], [odemeDurumu], [islem], [tutar]) VALUES (1, N'Müdür', CAST(N'09:36:32' AS Time), N'Nakit', N'Peşin Satış', 170)
INSERT [dbo].[ZRapor] ([siparisId], [satici], [siparisSaat], [odemeDurumu], [islem], [tutar]) VALUES (2, N'Müdür', CAST(N'20:37:24' AS Time), N'Nakit', N'Peşin Satış', 155)
INSERT [dbo].[ZRapor] ([siparisId], [satici], [siparisSaat], [odemeDurumu], [islem], [tutar]) VALUES (3, N'Müdür', CAST(N'20:37:42' AS Time), N'Nakit', N'Peşin Satış', 155)
SET IDENTITY_INSERT [dbo].[ZRapor] OFF
GO
